
<h1>${currentPage.title}</h1> 
<h2>${currentPage.path}</h2>

<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Customer name</th>
        <th>Status</th>
        <th>Age</th>
        <th>City</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><a href="${inheritedPageProperties.customerDetailPath}.html?customer='12345'">Mario Rossi</a></td>
        <td>Active</td>
        <td>35</td>
        <td>Milano</td>
        <td>Italy</td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="${inheritedPageProperties.customerDetailPath}.html?customer='67890'">Sara Verdi</a></td>
        <td>Active</td>
        <td>35</td>
        <td>Milano</td>
        <td>Italy</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Mario Rossi</td>
        <td>Active</td>
        <td>35</td>
        <td>Milano</td>
        <td>Italy</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Mario Rossi</td>
        <td>Active</td>
        <td>35</td>
        <td>Milano</td>
        <td>Italy</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Mario Rossi</td>
        <td>Active</td>
        <td>35</td>
        <td>Milano</td>
        <td>Italy</td>
      </tr>                        
    </tbody>
  </table>
  </div>