<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
		eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
		minim veniam, quis nostrud exercitation ullamco laboris nisi ut
		aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est
		laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt
		ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
		nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
</p>
<hr>
<h3>${currentPage.path}</h3>
<p>Lorem ipsum...</p>
<div data-sly-resource="${'title' @ decorationTagName='div'}"></div>
<sly data-sly-resource="par"></sly>
<p>${"&copy; {0} AEM SPA POC Site. All rights reserved." @ i18n,
		format=main.year, context='html'}</p>