<div class="container-fluid" data-sly-use.topnav="topnav.js" data-sly-use.pocPageModel="${'com.accenture.aem.core.models.POCPageModel'}">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="${inheritedPageProperties.homePagePath}.html">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <sly data-sly-list="${topnav.items}">
         	<li class="${item.selected ? 'active' : ''}"><a href="${item.page.path}.html">${item.page.title}</a></li>
        </sly>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="logged-icon" data-sly-test.isLogged="${pocPageModel.isAdvisor || pocPageModel.isUser}"><span class="glyphicon glyphicon-user"></span> ${pocPageModel.userID}</li>
        <li><a data-sly-test="${isLogged}" href="/system/sling/logout.html?resource=${inheritedPageProperties.homePagePath}.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <li><a data-sly-test="${!isLogged}" href="${inheritedPageProperties.loginPagePath}.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
</div>